name: Verify Recipes

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build-latex:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Compile Recipes
      uses: xu-cheng/latex-action@v3
      with:
        root_file: .github/scripts/build_all_recipes.sh
        compiler: bash
        # args can be empty since we are just running the bash script
        args: ""

    - name: Upload PDF Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Recipe-PDFs
        path: |
          **/*.pdf
        if-no-files-found: error
