name: Verify Recipes

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build-latex:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Compile Recipes
      uses: xu-cheng/latex-action@v3
      with:
        root_file: preamble.tex
        compiler: bash
        args: -c "find . -name '*.tex' ! -name 'preamble.tex' -print0 | xargs -0 -n 1 bash -c 'echo \"Compiling \$1\"; cd \"\$(dirname \"\$1\")\" && pdflatex -interaction=nonstopmode -halt-on-error \"\$(basename \"\$1\")\"' _"

    - name: Upload PDF Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Recipe-PDFs
        path: |
          **/*.pdf
        if-no-files-found: error
